<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Test Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/myStyles.css">
</head>
<body>
<div class="container">
<h1>Flask Test Project</h1>
<hr>

<table class="table-bordered table-hover table-striped">
<tr>
    <th>Hero</th>
    <th>Homeworld</th>
    <th>Weapon</th>
</tr>

    {% for hero in heroes %}
<tr>
    <td> {{ hero.name }}</td>
    <td>{{hero.home}}</td>
    <td>{{hero.weapon}}</td>
</tr>


    {% endfor %}

</table>
</div>
</body>
</html>
